@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: grid;
  background: #141527;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2fr 1fr 12fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas: 'nav holder search'
                       'nav holder articles';
}

main {
  grid-area: articles;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}


.news {
  width: 30vw;
  height: fit-content;
  background-color: white;
  box-shadow: 2px 3px 6px 0px black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid black;
}

.news>h1 {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.news>img {
  max-width: 100%;
}

.news>footer {
  background-color: #ab5df3;
  height: 30px;
  padding-top: 5px;
}

.news>p {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  font-size: larger;
}

.news>footer>p>a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.news>footer>p {
  text-align: center;
}

nav {
  color: white;
  grid-area: nav;
  border-right: solid 1px black;
  padding-left: 15px;
  background-color: #4d4f6f;
}

nav>section {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
}

nav>section:hover {
  cursor: pointer;
  background-color: #ab5df3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

nav>h1{
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 15px;
}

.yellow {
  color: #ffc267;
}

.navImg {
  height: 5vh;
  display: inline;
  padding-right: 7px;
}

input {
  grid-area: search;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff08;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  text-align: center;
  margin-top: 10px;
}
